// example nextflow config file for the BENGAL pipeline
// ysong@ebi.ac.uk
// 26 Sept 2022



// cluster execution
process.executor = 'lsf'
executor {
    name = 'lsf'
    queueSize = 2000
}

// enable use of conda envs
conda.enabled = true

// directories for project root, work and results 

projectDir='/hps/software/users/ma/research/ysong/NEXTFLOW/BENGAL'
workDir='/nfs/research/irene/ysong/RESULTS/NEXTFLOW/CROSS-SPECIES_test/Embryo_dr_xt/work'
params.results='/nfs/research/irene/ysong/RESULTS/NEXTFLOW/CROSS-SPECIES_test/Embryo_dr_xt'

//params specific to dataset, please change according to your task
//input variables

// if each data is batchy, set batch_key to actual batch
// if each data does not appear bachy and cell type between batches are balanced, set batch_key to species_key

// which column stores batch to integrate
params.batch_key='species'

// which column stores species names
params.species_key='species'

// which column specifies cell types matched between species
params.cluster_key='cell_type_use'

// which column stores cell types to perform SCCAF assessment, usually same with cluster_key
params.cluster_key_sccaf='cell_type_use'

// which column stores cell types to perform SCCAF projection, usually same with cluster_key
params.projection_key_sccaf='cell_type_use'

// root cell for dpt pseudotime calculation
params.root_cell='Blastula'


// input metadata to map species name to respective raw count .h5ad files
// set task name to metadata file basename
params.input_metadata='/nfs/research/irene/ysong/DATA/XenopusZebrafishEmbryo/embryo_metadata_nf.tsv'
params.task_name='embryo_metadata_nf'






// params for pipeline, no need to change
params.liger_metadata="${params.results}/results/rligerUINMF/h5ad_homology_concat/metadata_nf.tsv"
params.homology_concat_h5ad="${params.results}/results/h5ad_homology_concat/*.h5ad"
params.homology_concat_h5seurat="${params.results}/results/h5ad_homology_concat/*.h5seurat"
params.integrated_h5ad="${params.results}/results/*/cross_species/integrated_h5ad/*.h5ad"


// singularity container paths

process {
    withName:sccaf_assessment {
        container = "${projectDir}/containers/sccaf.sif"
    }
    withName:sccaf_projection {
        container = "${projectDir}/containers/sccaf.sif"
    }
}

// set to true when running sccaf_assessment and sccaf_projection
singularity {
    enabled = false
}


